html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  padding: 0;
}



.title {
  display: grid;
  grid-template-columns: [left] 20px [middle] auto [right] 20px;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

hr {
  border: 2px solid;
  color: #000;
}
