html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fwContainer {
  position: relative;
  background: linear-gradient(#FFF, #9C9CD6, #6E6E96, #3F3F57, #37374B, #252533,
    #000)
}

.imgContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
  justify-content: center;
  align-content: center;

}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.title {
  display: grid;
  grid-template-columns: [left] 20px [middle] auto [right] 20px;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.subHead {
  text-align: center;
  margin-bottom: 6%;
}

hr {
  border: 2px solid;
  color: #000;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 12vmin;
}

div p {
  font-family: 'Cormorant Unicase', serif;
  font-size: 3vmin;
}

.images {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3vmin;
}

h6 + p {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3vmin;
  color: white;
}

h5 + p {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3vmin;
  color: white;
}

div h5 {
  color: white;
}
