html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.ssContainer {
  position: relative;
  background: linear-gradient(#FFF, #EFE4BB, #C7B4AD, #7A716E)
}

.imgContainer {
  display: grid;
  position: relative;
  grid-template-columns: 100%;
  /* grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ; */
  justify-items: start;
  /* align-content: center; */
  /* row-gap: 15px; */
  left: 15%;
}

.imgContainer2 {
  display: grid;
  position: relative;
  grid-template-columns: 100%;
  justify-items: end;
  right: 15%;
}

.imgText {
  position: relative;
  text-align: center;
}

.top-mid {
  position: absolute;
  top: 66%;
  right: 50%
}
.top-left {
  position: absolute;
  bottom: 10%;
  right: 20%;
}
.mid-right {
  position: absolute;
  top: 25%;
  right: 0%;
}
.mid-left {
  position: absolute;
  top: 5%;
  left: 35%;
}
.bottom {
  position: absolute;
  top: 43%;
  left: 40%;
  /* transform: translate(-50%, -50%); */
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.title {
  display: grid;
  grid-template-columns: [left] 20px [middle] auto [right] 20px;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.subHead {
  text-align: center;
  margin-bottom: 6%;
}

hr {
  border: 2px solid;
  color: #000;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 12vmin;
}

div p {
  font-family: 'Cormorant Unicase', serif;
  font-size: 3vmin;
}

.images {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3vmin;
}

h6 + p {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3vmin;
}

h5 + p {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3vmin;
  color: white;
}

div h5 {
  color: white;
}

a {
  text-decoration: none;
  color: #000;
}
