html, body {
  margin: 0;
  max-width: 100%;
  height: 100%;
  padding: 3vmin 6vmin 0vmin 6vmin;
  background-color: #C3C7C1;
  color: #717A6A;
}

.mainContainer {
  display: grid;
  /* grid-template-columns: auto;
  grid-template-rows: auto; */
}

.headerContainer {
  /* display: grid;
  grid-template-columns: [left] 20% [middle] auto [right] 20%;
  grid-template-rows: auto;
  column-gap: 10px;
  justify-items: center; */
}

.header {
  display: grid;
  grid-template-columns: [left] 50px [middle] auto [right] 50px;
  grid-template-rows: auto;
  column-gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

hr {
  border: 1px solid;
  color: #717A6A;
}

.biograph {
  display: flex;
  justify-content: flex-start;
  height: 20%;
  padding-top: 5%;
  flex-direction: column;
}

.bioItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bio {
  margin-left: 4%;
}

.intro {
  margin-bottom: 10%;
  padding: 0;
}

img {
  display: flex;
  /* object-fit: fill; */
  max-width: 300px;
  max-height: 300px;
  border: 5px solid #7A716E;
}

.footer {
  text-align: right;
  position: static;
}

#video-background {
  position: absolute;
}

.overlay {
  display: flex;
  flex-direction: row;
  position: static;
  justify-content: space-evenly;
  align-items: flex-end;
}

.enter {
  align-self: flex-end;
}

div > h1 {
  font-size: 8vmin;
}

h2 + p {
  color: #7A716E;
  font-size: 1.8vw;
}

h2 {
  font-family: 'Cormorant Unicase', serif;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: #717A6A;
}

a:hover {
  color: #fff;
}
